[access "refs/*"]
  read = group rdoinfo-core
  owner = group rdoinfo-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdoinfo-core
    label-Code-Review = -2..+2 group rdoinfo-ptl
    label-Verified = -2..+2 group rdoinfo-ptl
    label-Workflow = -1..+1 group rdoinfo-core
    label-Workflow = -1..+1 group rdoinfo-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group rdoinfo-ptl
    read = group Registered Users
    read = group rdoinfo-core
    forgeAuthor = group rdoinfo-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdoinfo-core
    forgeCommitter = group rdoinfo-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = information about current RDO releases, packages, maintainers and more
